.active {
    background: linear-gradient(45deg, #ff7070 10%, #f13dd4 50%, #933fff 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}